<div class="container">
  <div class="ui card">
    <h1>TEAM GENERATOR</h1>
    <ul class="list">
      <li *ngFor="let member of members">
        {{ member }}
      </li>
    </ul>
    <div class="add-members-container">
      <input
        type="text"
        name="name"
        placeholder="name"
        #memberInput
        (input)="onInput(memberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">add</button>
    </div>
    <div class="input-container">
      <input
        type="number"
        placeholder="# of teams"
        #numberOfTeamsInput
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <div>
      <p *ngIf="errorMessage" class="error-msg">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
